#amarillo{
    background-color: yellow;
    width: 100%;
    height: 350px;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
#azul{
    background-color: blue;
    width: 100%;
    height: 175px;
    top: 350px;
    position: absolute;
}
#rojo{
    background-color: red;
    width: 100%;
    height: 214px;
    top: 525px;
    position: absolute;
}
#escudo{
    background-image: url('220px-Coat_of_arms_of_Ecuador.svg.png');
    background-repeat: no-repeat;
    width: 900px;
    height: 900px;
    top: 250px;
    left: 560px;
    position: absolute;
}